<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<form [formGroup]="form">
  <p>
    FirstName<br />
    <input type="text" formControlName="firstName" tabindex="6" />
  </p>

  <p>
    LastName<br />
    <input type="text" formControlName="lastName" [tabindex]="5" />
  </p>

  <p>
    BirthDate<br />
    <app-datum-input formControlName="birthDate" tabindex="4"></app-datum-input>
  </p>

  <p>
    StartDate<br />
    <app-datum-input
      formControlName="startDate"
      [tabindex]="3"
    ></app-datum-input>
  </p>

  <p>
    EndDate<br />
    <app-datum-input
      formControlName="endDate"
      (blur)="onBlur($event)"
      (keydown)="onKeydown($event)"
      (focus)="onFocus($event)"
      (input)="onInput($event)"
      tabindex="2"
    ></app-datum-input>
  </p>

  <p>
    City<br />
    <input type="text" formControlName="city" tabindex="1" />
  </p>

  <p>
    {{ form.getRawValue() | json }}
  </p>
</form>
